<ion-view view-title="Add">
  <ion-content class="padding">
    <h2>add a task</h2>

    <label class="item item-input item-floating-label">
      <span class="input-label">task</span>
      <input type="text" placeholder="type a task" ng-model="$parent.text">
    </label>

    <button class="button button-full button-positive" ng-click="add()">
      add me !
    </button>

  </ion-content>
</ion-view>
