<ion-view view-title="Tasks">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="task in tasks | orderBy: $index : true" type="item-text-wrap">
        <h2>{{task.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(task)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
